/Googling things/Pic/
/Cities/world-cities_zip.zip
/Googling things/DownloadedPics/1800x1200catrelaxingonpatioother.jpg
/Googling things/DownloadedPics/PresidentTrumpOfficialPortrait.jpg
/Googling things/DownloadedPics/SukhoiSu30SMinflight2014.jpg
/CopyPasting/IMG_2213-2880x1920.jpg
/CopyPasting/mooncompositemain-800x800.jpg
/CopyPasting/TEST.png
